{% extends 'main.html' %}
{% block content %}
<script type = "text/javascript">
function validate(){
    if( document.diabetes.pregnancies.value == ""  || document.diabetes.glucose.value == "" || document.diabetes.bloodpressure.value == "" || document.diabetes.skinthickness.value == "" || document.diabetes.insulin.value == "" || document.diabetes.bmi.value == "" || document.diabetes.dpf.value == "" || document.diabetes.age.value == ""  ) {
            alert( "Input value missing, please enter all the values!" );
            return false;
}
    else if(isNaN(document.diabetes.pregnancies.value)  || isNaN(document.diabetes.glucose.value) || isNaN(document.diabetes.bloodpressure.value) || isNaN(document.diabetes.skinthickness.value) || isNaN(document.diabetes.insulin.value) || isNaN(document.diabetes.bmi.value)|| isNaN(document.diabetes.dpf.value) || isNaN(document.diabetes.age.value)){
            alert( "Incorrect input, please enter numeric values!" );
            return false;
    }
    return(true);
}
</script>
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center><h1>Diabetes</h1></center>
            <div class="card card-body" style="border: 1px solid black;">
                <form class="form-horizontal" action="/result" method="POST" name="diabetes" onsubmit="return(validate());">
                    <div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" id="Pregnancies" name="pregnancies" placeholder="Number of Pregnancies eg. 0">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" id="Glucose" name="glucose" placeholder="Glucose (mg/dL) eg. 80">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" id="BloodPressure" name="bloodpressure" placeholder="Blood Pressure (mmHg) eg. 80">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" id="SkinThickness" name="skinthickness" placeholder="Skin Thickness (mm) eg. 20">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" id="Insulin" name="insulin" placeholder="Insulin Level (IU/mL) eg. 80">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" id="BMI" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" id="DiabetesPedigreeFunction" name="dpf" placeholder="Diabetes Pedigree Function eg. 0.52">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" id="Age" name="age" placeholder="Age (years) eg. 34">
                    </div>

            		<input type="submit" class="btn btn-info btn-block" style="background-color:#008080; color:white;" value="Predict" >
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}