<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>VDDS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Medilab - v4.8.1
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top"> 
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        
      
      </div>
    </div> 
  </div>  
 
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top" style="background-color:#E0FFFF" >
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/home">VDDS</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#departments">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Facts</a></li> 
          <li id="drop" class="dropdown"><a href="#"><span>Diagnosis</span> <i class="bi fa-caret-down"></i></a>
            <ul>
              <li><a href="/general">General Diagnosis</a></li>
              <!--
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
            -->
              <li><a href="/diabetes">Diabetes</a></li>
              <li><a href="/heart">Heart Disease</a></li>
              <li><a href="/liver">Liver Disease</a></li>
              <li><a href="/kidney">Kidney Disease</a></li>
              <li><a href="/cancer">Breast Cancer</a></li>
            </ul>
          </li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Virtual Disease Diagnosis System</h1>
      <h2>A smart approach to identify ailments & lead a healthy life </h2>
      <a href="/general" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose VDDS?</h3>
              <p>
                VDDS provides specific recommendations to lower your chance of developing future illnesses while assisting you in determining the potential diseases based on your symptoms.
              </p>
              <div class="text-center">
                <a href="#departments" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Accurate analysis of existing symptoms</h4>
                    <p>Helps the user understand the potential risks associated with their present health problems
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Specific recommendations module</h4>
                    <p>Gives personalised suggestions and recommendations to treat their existing symptoms effectively</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>User-friendly interface</h4>
                    <p>Allows the user to conveniently analyze multiple diseases using only a single model </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    

    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>VDDS has two modules: general diagnosis, which allows users to enter any general symptoms they may be experiencing, and disease-specific analysis, which forecasts the likelihood that a condition may manifest</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-6">About VDDS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " data-bs-toggle="tab" href="#tab-1">Diabetes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Liver Disease</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Heart Disease</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Kidney Disease</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Breast Cancer</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-6">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Multi-disease analysis</h3>
                    <!-- <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p> -->
                    <p>VDDS enables the user to do multiple disease analysis in a single model. Once the user inputs his symptoms, the system predicts the disease after which it also analyses the same inputs and tells the user about the health issues, he/she might face in the future.  
                      <br></p>
                    <p>Apart from that, it suggests measures and recommends activities to prevent the occurrence of those diseases in the future. It incorporates a user interactive interface that enables the users to traverse the system easily and conveniently.</p>
                  </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/intro.jpg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane " id="tab-1">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Diabetes</h3>
                    <p class="fst-italic">Diabetes mellitus refers to a group of diseases that affect how the body uses blood sugar (glucose). Glucose is an important source of energy for the cells that make up the muscles and tissues.</p>
                    <p>The main cause of diabetes varies by type. But no matter what type of diabetes you have, it can lead to excess sugar in the blood. Too much sugar in the blood can lead to serious health problems.</p> 
                    <p>It is important for people with diabetes to be diagnosed and treated as soon as possible, as high blood sugar levels can damage body organs and tissue, resulting in complications such as nerve damage, kidney damage, heart attacks, etc</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/diabetes.jpg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Liver Disease</h3>
                    <p class="fst-italic">The liver is an organ about the size of a football. It sits just under your rib cage on the right side of your abdomen. It has many important functions, including digesting your food and processing and distributing nutrients.</p>
                    <p>There are many kinds of liver diseases and conditions. Some, like hepatitis, are caused by viruses. Others can be the result of drugs or drinking too much alcohol. Long-lasting injury or scar tissue in the liver can cause cirrhosis. Jaundice, or yellowing of the skin, can be one sign of liver disease.</p> 
                    <p>Over time, conditions that damage the liver can lead to scarring (cirrhosis), which can lead to liver failure, a life-threatening condition. But early treatment may give the liver time to heal.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/liver.jpg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Heart Disease</h3>
                    <p class="fst-italic">Your heart is the main organ of your cardiovascular system, a network of blood vessels that pumps blood throughout your body. It also works with other body systems to control your heart rate and blood pressure. Your family history, personal health history and lifestyle all affect how well your heart works.</p>
                    <p>Heart disease describes a range of conditions that affect the heart. These include blood vessel disease such as coronary artery disease, irregular heartbeats (arrhythmias), heart problems you're born with (congenital heart defects), disease of the heart muscle, heart valve disease, etc.</p>
                    <p>Many forms of heart disease can be prevented or treated with healthy lifestyle choices. It's important to watch for heart symptoms and discuss concerns with your health care provider. Heart (cardiovascular) disease can sometimes be found early with regular health check-ups.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/heart.jpg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Kidney Disease</h3>
                    <p class="fst-italic">The kidneys are two bean-shaped organs. Each kidney is about the size of a fist. Your kidneys filter extra water and wastes out of your blood and make urine.</p>
                    <p>Kidney disease means your kidneys are damaged and cannot filter blood the way they should. You are at greater risk for kidney disease if you have diabetes or high blood pressure. If you experience kidney failure, treatments include kidney transplant or dialysis. Other kidney problems include acute kidney injury, kidney cysts, kidney stones, and kidney infections.
                      </p>
                      <p> Early identification of persons at risk for kidney disease provides an opportunity to prevent or delay its progression and decrease morbidity and mortality.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/kidney.jpg') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Breast Cancer</h3>
                    <p class="fst-italic">Breast cancer happens when cells in your breast grow and divide in an uncontrolled way, creating a mass of tissue called a tumour. </p>
                    <p>Signs of breast cancer can include feeling a lump in your breast, experiencing a change in the size of your breast and seeing changes to the skin on your breasts. 
                      <br></p>
                      <p>Breast cancer is the second most common cancer in women after skin cancer. Mammograms can detect breast cancer early, possibly before it has spread.</p>
                  </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{{ url_for('static', filename='img/breast.png') }}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section -->
    
     <!-- ======= Services Section ======= -->
     <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Health Bites</h2>
          <h4>Your dose of health articles!</h4>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" >
            <div class="icon-box" style="background-color:honeydew;">
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ url_for('static', filename='img/4.jpg') }}" alt="feels" style="height:220px  ; width:310px;" >
              </div>
              <br>
              <h4><a target = "_blank" href="https://www.amazinghealthfacts.org/health-bites/article/e/25292/t/feeling-stressed-">Feeling Stressed?</a></h4>
              <p></p>
            </div>
          </div>
          
         
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box" style="background-color:oldlace;">
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ url_for('static', filename='img/5revitalize.jpg') }}" alt="feels" style="height:220px  ; width:310px" >
              </div>
              <br>
              <h4><a target = "_blank" href="https://www.amazinghealthfacts.org/health-bites/article/e/23793/t/revitalize-your-brain-">Revitalize Your Brain! <br> </a></h4>
              <p></p>
            </div>
          </div>
           
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" >
            <div class="icon-box" style="background-color:honeydew;">
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ url_for('static', filename='img/6.jpg') }}" alt="feels" style="height:220px  ; width:310px" >
              </div>
              <br>
              <h4><a target = "_blank" href="https://www.amazinghealthfacts.org/health-bites/article/e/23787/t/kickstart-a-healthier-lifestyle-">Kickstart a Healthier  Lifestyle! </a></h4>
              <p></p>
            </div>
          </div>
          
         </div> <br>
        <div class="row">
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box" style="background-color:oldlace;">
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ url_for('static', filename='img/4water.jpg') }}" alt="feels" style="height:220px  ; width:310px" >
              </div>
              <br>
              <h4><a target = "_blank" href="https://www.amazinghealthfacts.org/health-bites/article/e/23791/t/quench-your-thirst">Quench Your Thirst</a></h4>
              <p></p>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" >
            <div class="icon-box" style="background-color:honeydew;" >
              <div class="col-lg-4 text-center order-1 order-lg-2" >
                <img src="{{ url_for('static', filename='img/5.jpg') }}" alt="feels" style="height:220px   ; width:310px" >
              </div>
              <br> 
              <h4><a target = "_blank" href="https://www.amazinghealthfacts.org/health-bites/article/e/23783/t/go-for-the-flow">Go For the Flow</a></h4>
              <p></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box" style="background-color:oldlace;">
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{{ url_for('static', filename='img/6superchange.jpg') }}" alt="feels" style="height:220px  ; width:310px" >
              </div>
              <br>
              <h4><a target = "_blank" href="https://www.amazinghealthfacts.org/health-bites/article/e/23788/t/supercharge-your-diet">Supercharge Your Diet!</a></h4>
              <p></p>
            </div>
          </div>
            
        </div>

      </div>
    </section><!-- End Services Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color:#E0FFFF">

    <div class="container d-md-flex py-4 ">
      
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 col-md-6 footer-contact">
              <h5>Virtual Disease Diagnosis System</h5>
              <p><br>
                <strong>A project by:</strong> <br>
                Geetha Krishna<br>
                 Ayushi Verma<br>
                 Priyanka Myaragalla<br>
                
              </p>
            </div>
  
            <div class="col-lg-6 col-md-6 footer-contact">
              <h5></h5>
              <p><br><br>
                <strong>Institution: </strong> G. Narayanamma Institute of Technology and Science <br>
                <strong>Location: </strong> Shaikpet, Hyderabad<br>
                 
                <strong>Website: </strong> <a target="_blank" href="https://www.gnits.ac.in">www.gnits.ac.in</a> <br>
                
              </p>
            </div>
            <div class="col-lg-2 col-md-6 footer-contact">
              <h5></h5>
              <p><br><br>
                <strong>Any Questions? </strong>  <br>
                <strong>Contact us: </strong><br>
                 
                geethaguruju@gmail.com<br>
                ayushiverma192002@gmail.com<br>
                
              </p>
            </div>
            
  
          </div>
        
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>