{% extends 'main.html' %}
{% block content %}
<script type = "text/javascript">
    function validate(){
        if( document.diabetes.pregnancies.value == ""  || document.diabetes.glucose.value == "" || document.diabetes.bloodpressure.value == "" || document.diabetes.skinthickness.value == "" || document.diabetes.insulin.value == "" || document.diabetes.bmi.value == "" || document.diabetes.dpf.value == "" || document.diabetes.age.value == ""  ) {
                alert( "Input value missing, please enter all the values!" );
                return false;
    }
        else if(isNaN(document.diabetes.pregnancies.value)  || isNaN(document.diabetes.glucose.value) || isNaN(document.diabetes.bloodpressure.value) || isNaN(document.diabetes.skinthickness.value) || isNaN(document.diabetes.insulin.value) || isNaN(document.diabetes.bmi.value)|| isNaN(document.diabetes.dpf.value) || isNaN(document.diabetes.age.value)){
                alert( "Incorrect input, please enter numeric values!" );
                return false;
        }
        return(true);
    }
    </script>
<div class="row"  style="margin-bottom: 125px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center><h1>Kidney Disease </h1></center>
        <div class="card card-body" style="border: 1px solid black;">
            <form class="form-horizontal" action="/result" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="age" name="age" placeholder="Age">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="bp" name="bp" placeholder="B.P">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="al" name="al" placeholder="albumin">
                        </div>
                    </div>
               
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="pcc" name="pcc" placeholder="pus cell clumps">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="bgr" name="bgr" placeholder="blood glucose random">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="bu" name="bu" placeholder="blood urea">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="sc" name="sc" placeholder="serum creatinine">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="hemo" name="hemo" placeholder="hemoglobin">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="pcv" name="pcv" placeholder="packed cell volume">
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="appet" name="appet" placeholder="appetite">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="htn" name="htn" placeholder="hypertension">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input style="border: 1px solid black;" class="form-control" type="text" id="dm" name="dm" placeholder="diabetes mellitus">
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-info btn-block" style="background-color:#008080; color:white;" value="Predict">
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}